// since every route will be contain inside a section
// define a global style for it
section {
	width: min(800px, 90%);

	//in order to expand the section and avoid overflow-y
	//set a min-height equals to all viewport minus the navbar height
	min-height: calc(100vh - (var(--navbar-height)));

	//to avoid nav and section interferences
	margin-top: calc(var(--navbar-height));

	margin-inline: auto;
}