@use "../base/variables";
@use "../sass-utils/mixins";

.loginForm {
	width: min(400px, 100%);

	@include mixins.flex-center(column);
	gap: 2rem;
	padding: 2rem;

	background-color: rgba($color: variables.$login-form-color, $alpha: 0.5);
	backdrop-filter: blur(10px);
	box-shadow: 0 0 32px rgb(65, 4, 93);
	border: dashed #3e0b49 2px;
	border-radius: 10px;

	margin-inline: auto;
	position: relative;
	overflow: hidden;

	h1 {
		font-size: clamp(1.25rem, 2vw, 2rem);
		text-align: center;
		color: var(--main-title-color);
	}

	input {
		width: 100%;
	}

	label {
		width: 100%;
		color: var(--text-color);
	}

	input {
		@include mixins.fancy-input;
	}

	// button {
	// 	@include mixins.fancy-button;
	// }
}
