@use "../base/variables" as var;

.navbar {
	background-color: rgba($color: var.$navbar, $alpha: 0.5);
	-webkit-backdrop-filter: blur(10px);
	        backdrop-filter: blur(10px);

	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-inline: 2rem;

	width: 100vw;
	height: var(--navbar-height);
	position: fixed;
	top: 0;
	left: 0;

	box-shadow: 0 0 16px #000;

	ol {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		gap: 2rem;
		padding: 0;
	}

	li {
		list-style: none;
	}

	a {
		text-decoration: none;
	}

	.link {
		text-transform: uppercase;
		color: #fff;
		font-weight: 700;
	}

	.logo {
		font-size: 2rem;
		color: #fff;
		font-weight: 700;
	}

	.logout {
		background-color: var(--text-color);
		color: var(--active-link);
		font-weight: 700;
		padding: 0.5rem 1rem;

		transition: color 200ms, background-color 200ms;

		&:hover,
		&:focus {
			background-color: var(--active-link);
			color: var(--text-color);
		}
	}
}
