@use "../sass-utils/mixins";

.table {
	width: 100%;
	margin-top: 2rem;
	border-radius: 10px;
	border: var(--main-title-color) dashed 2px;
	text-align: center;
	font-size: clamp(0.7rem, 1rem, 2vw);

	thead {
		tr {
			input {
				@include mixins.fancy-input;

				width: 100%;
				padding: 0 0 0 0.25rem;
				border-radius: 5px;
				margin-bottom: 1.5rem;
			}
		}
	}

	tbody {
		tr {
			&:nth-child(odd) {
				background-color: rgb(57, 21, 99);
			}
		}
	}

	.headCell {
		padding-inline: 0.5rem;
	}
}

.paginator {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 3rem;

	.buttonsContainer {
		display: flex;
		flex-flow: row wrap;
		gap: 0.25rem;
	}

	button {
		@include mixins.fancy-button;
		border-radius: unset;
		padding: 0.15rem 0.5rem;
	}
}
